/*header start*/
*{
    margin: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 70px;
    position: relative;
    z-index: 1;
    
}
header div{
    float: left;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    margin-top: 20px;
    margin-left: 104px;
}
header .nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 125px;
}
header .nav ul{
    list-style: none;
}
header .nav ul li{
    float: left;
    padding: 25px;
}
header .nav ul li a{
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    font-size: 14px;  
    font-weight: bold;
}
header .nav ul li a:hover{
    color: #8490ff !important;; 
}
.checkbtn {
    display: none;
    font-size:30px;
    color: rgba(0,0,0, 0.9);
    float: right;
    line-height: 80px;
    margin-right: -170px;
}
#check {
    display: none;
}
/*header end*/

/*Home part start*/
.Section1{
    background-color: #F9F9FF;
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.Section1 .text, .image{
    width: 50%;
}
.Section1 .text{
    font-family: poppins,sans-serif;
    margin-left: 100px;
    margin-top: 100px;
    
}
.Section1 .image{
    padding-right: 160px;
    margin-top: 110px;
}
.Section1 .text h3{
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.Section1 .text h1{
    font-size: 60px;
    margin: 20px 0;
    color: #222222;
    text-transform: uppercase;
    font-weight: 600;
}
.Section1 .text p{
    width: 80%;
    height: auto;
    text-align: left;
    font-size: 14px;
    margin: 0 0 16px;
    color: #777777;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}
.Section1 .text input{
    padding: 12px 20px;
    background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
    outline: none;
    color: #ffffff;
    border: 1px solid transparent;
    font-size: 14px;
}
.Section1 input:hover{
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5)  ;
    transition: all 0.5 ease-in 0.1s;
    outline: none;
}
/*Home part End*/

/*About part start*/
.Section2 {
    background-color: #F9F9FF;
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}
.Section2 .text{
    margin-left: 90px;
}
.Section2 .text p{
    width: 80%;
    height: auto;
    text-align: left;
    font-size: 14px;
    margin: 0 0 16px;
    color: #777777;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}
.Section2 .text input{
    padding: 12px 20px;
    background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
    outline: none;
    color: #ffffff;
    border: 1px solid transparent;
    font-size: 14px;
}
.Section2 input:hover{
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5)  ;
    transition: all 0.5 ease-in 0.1s;
    outline: none;
}
.Section2 .img2{
    margin-left: 100px;
}
.Section2 .text > h2{
    font-size: 36px;
}
/*About part End*/

/*Services part start*/
.Section3{
    width: 100%;
    height: 670px;
    margin: 0 auto;
    text-align: center;
    
}
.Section3 .firsttxt h1{
    color: #222222;
    font-size: 36px;
    font-weight: 600;
    line-height: 1em !important;
    font-family: Poppins, sans-serif;
}
.Section3 .firsttxt p{
    width: 500px;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    margin: 0 auto;
    
}
.Section3 .service{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px; 
}
.Section3 .ser1, .ser2{
    width: 100%;
    overflow: hidden;
}
.Section3 .ser2{
    padding-top: 30px;
}
.Section3 .ser1 div, .ser2 div{
    width: 32%;
    float: left;
    padding: 5px;
    margin: 0 auto;
    
}
.Section3 .service h3{
    font-size: 18px;
    padding: 20px;
}
.Section3 .service h3 a{
    text-decoration: none;
    color: black;
}
.Section3 .service p{
    width: 303px;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.Section3 .service div img:hover{
    color:#8490ff;
}
/*Services part End*/

/*Bluebar part start*/
.Section4{
    width: 100%;
    height: 300px;
    background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
}

.Section4 div{
    float: left;
    width: 20%;
    margin: 0 auto;
    position: relative; /*shobkisu majhe anar jonno position relative*/
    top: 130px;
    left: 200px;
    text-align: center;
    color: white;
}
.Section4 h1{
    font-size: 36px;
    font-weight: 700;
}
.Section4 p{
    line-height: 2rem;
}
/*Bluebar part End*/

/*Portfolio start*/
.Section5{
    width: 100%;
    box-sizing: border-box;
}
.Section5 .text3{
    text-align: center;
}
.Section5 .text3 h1{
    font-size: 36px;
    color: #222222;
    font-weight: 600;
    
}
.Section5 .text3 p{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300; 
    margin-top: 10px;
    margin-bottom: 100px;
}
.Section5 .imgg{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;/*jinish gula proper jayga newar por box beshi hole baki gula niche namay dibe*/
    margin: 0 auto;
}
.Section5 .imgg div{
    
    text-align: center;
}

.Section5 .imgg h5{
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    padding-top: 20px;
}
.Section5 .imgg p{
    font-size: 14px;
    font-weight: 300;
    color: #727171;
    line-height: 1.6em;
    padding-bottom: 20px;
}
.Section5 figure{
    background: linear-gradient(40deg,#8490ff 40%, #62bdfc 100%);
    width: 340px;
    height: 339px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 3%;
}

.Section5 figure:hover img{
    opacity: .3;
    transition: all .5s ease-in-out;
}

/*Portfolio End*/

/*Pricing Table start*/
.Section6{
    width: 100%;
    height: 700px;
}
.Section6 .text4{
    text-align: center;
    padding: 2% 0;
}
.Section6 .text4 h1{
    font-size: 36px;
    color: #222222;
    font-weight: 600;
    padding-top: 35px;
    
}
.Section6 .text4 p{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300; 
    margin-top: 10px;
    margin-bottom: 75px;
}
.Section6 .card{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgb(249,249,255);
}
.Section6 .card1{
    width: 300px;
    height: 520px;
    text-align: center;
    border: 1px solid transparent;
}
.Section6 .card1 h1{
    font-size: 36px;
    font-weight: 300;
    padding: 20px;
    width: 140px;
    height: 140px;
    background-color: rgba(132, 144, 255, 0.1);
    border-radius: 100px;
    border: 30px solid rgba(132, 144, 255, 0.1);
    margin: 20px auto;
    
}
.Section6 .card1 h2{
    font-size: 18px;
    color: #222222;
}
.Section6 .card1 p{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.625em;
}
.Section6 .card1 .p1{
    padding-bottom: 20px;
}
.Section6 .card1 h3{
    font-size: 36px;
    font-weight: 600;
    padding: 20px;
}
.Section6 .card1 input{
    background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
    outline: none;
    color: #ffffff;
    border: 1px solid white;
    font-size: 18px;
    padding: 10px 25px;
    cursor: pointer;
}
.Section6 .card1:hover{
    background-color: #aecde2;
    color: white;
    transition: all 0.25s ease-in-out;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}
.Section6 .card1:hover input{
    color: rgba(0, 0, 0, 0.9);
    background-color: #ffffff;
}
/*Pricing Table End*/

/*Footer Start*/
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(4,9,30) ;
    margin-top: 100px;
    color: #ffffff;
    
}
footer .foot{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 80px;
}
footer .foot .foot1 p{
    color: rgba(255,255,255,0.5);
}
footer .foot .foot1 h3{
    line-height: 3em;
}
footer .foot .foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 150px 10px 10px;

}
footer .foot .foot1 button{
    font-size: 18px;
    color: white;
    background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 10px;

}
footer .foot .foot1 i{
    font-size: 15px;
    cursor: pointer;
    padding: 2px 5px;
}
footer .foot .foot1 i:hover{
    color: #a166f4;
}

footer .foot .foot1 i:hover input{
    color: rgba(0, 0, 0, 0.9);
    background-color: #ffffff;
}
/*Footer End*/

/*Responsive for small devices*/
@media (max-width:768px){
    header {
        width: 100%;
        height: auto;
    }
    header .logo{
        margin-left:30px ;
        padding: 20px;
    }
    .checkbtn{
        display: block !important;
      }
      
      


      header .nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F9F9FF;
        top: 54px;
        left: -200%;
        transition: all .1s;     
      }
      header .nav ul li{
        line-height: 30px; 
        clear: both; 
        margin-top: 15px;
      }
      #check:checked ~ ul{
        left: 0;
      } 

      header .nav ul li a{
        font-size: 20px; 
        text-align: center;
      }
}
@media (max-width:768px){

    .section1 {
        width: 100%;
        display: block;
        height: auto;
    }
  .half1 {
      margin:auto;
      padding:0;
  }
  .half1 h3 {
      font-size: 15px;
      
     
  }
.half1 h1 {
  font-size: 30px;
}
.half2 img {
  margin-left: 90px;
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}

.section2 {
  display: block;
  width: 100%;
  height: 100vh;
  top: 150px;
  position: relative;
}
.section2 .img2 img {
  position: relative;
  right: 120px;
}
.section2 div{
  width: 100%;
}

.text2{
  position: relative;
  left: 15px;
  text-align: center !important;
}
.text2 h3{
  font-size: 12px;
  color: rgba(0,0,0,0.8);

}
.text2 h1{
  font-size: 30px;
  color: rgba(0,0,0, 0.9);
}
.text2 p{
  font-size: 15px;
  color: rgba(0,0,0, 0.9);
  margin-left:  50px !important;
}
.section3{
  width: 100%;
  height: auto;
  position: relative;
  top: 400px;
}
 

.firsttext > h1{
  font-size: 30px;
  color: rgba(0,0,0, 0.9);

}
.firsttext p {
width: 80%;
}

.ser1 div, .ser2 div  {
  clear: left;
  position: relative;
  width: 100%;  
  height: auto;     
}
.section4{
  width: 100%;
  height: 100vh;
  position: relative;
  top: 500px;
}
.section4 div{
  clear: left;
}
.section5{
  width: 100%;
  height: auto;
  position: relative;
  top: 500px;
}

.section6{
  width: 100%;
  height: 100vh;
  position: relative;
  top: 500px;
}
.section6 .text4 h1{
  font-size: 35px;
}
.section6 .text4 p{
  width: 80%;
  margin: auto;
}

.section6 .card{
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  left: 90px;

}
.card1 {
  margin-top: 50px;
}
footer{
  width: 100%;
  height: 100vh;
  position: relative;
  top: 120em;
}
footer .foot{
  display: block;  
  position: relative; 
  top: 100px;
}
.foot1 .abp{
  width:80%;
} 

}